
body {
    height: 300vh;
    background-color: whitesmoke;

}

.sentrer {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
}


.overskrift {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 20vh;
    font-weight: 700;
    color: #78d4f7;
    text-shadow: 0.1vh 0.1vh 0.1vh #009ccf,
    0.1vh 0.2vh 0.1vh #009ccf,
    0.1vh 0.3vh 0.1vh #009ccf,
    0.1vh 0.4vh 0.1vh #009ccf,
    0.1vh 0.5vh 0.1vh #009ccf,
    0.1vh 0.6vh 0.1vh #009ccf,
    0.1vh 0.7vh 0.1vh #009ccf,
    0.1vh 0.8vh 0.1vh #009ccf,
    0.1vh 0.9vh 0.1vh #009ccf,
    0.1vh 1.0vh 0.1vh #009ccf,
    0.1vh 1.8vh 0.6vh rgba(0,156,207,0.4),
    0.1vh 2.2vh 1.0vh rgba(0,156,207,0.2),
    0.1vh 2.5vh 3.5vh rgba(0,156,207,0.2),
    0.1vh 3.0vh 6.0vh rgba(0,156,207,0.4);
}
